@inherits LayoutComponentBase
<div class="top-bar">
	<a class="logo" href="">
		<img src="images/logo.svg"/>
	</a>
	<NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
		<img src="images/pizza-slice-solid.svg"
		<div>Elegir Pizza</div>
	</NavLink>
</div>
<div class="content">
	@Body
</div>
