@page "/about"
<div class="main">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-6 px-0">
            <h1 class="display-4 fst-italic">Support Buzz by BuzzDesk</h1>
            <p class="lead my-3">Sistema de consulta de incidencias, solución a problematicas de los empleados que laboran en Support Buzz</p>
        </div>
    </div>
    <div class="row mb-2">
    <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color: #0f213a;color: bisque;">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">Developer | Designer</strong>
          <h3 class="mb-0">Karina Rodriguez</h3>
          <p class="card-text mb-auto">Desarrolladora y conocedora de diferentes herramientas dentro de la compañia desempeñando calidad en los productos dando un toque unico y visual</p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            Visitar Github
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color: #0f213a;color: bisque;">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success-emphasis">Scrum Master | Developer</strong>
          <h3 class="mb-0">Eduardo Sanchez</h3>
          <p class="mb-auto">Conoce herramientas y liderazgo de la compañia en sus diferentes niveles apoyando en el desarrollo de diferentes productos internos, externos, como empresas aliadas a la compañia</p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            Visitar Github
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
@code {
}
