@page "/contact-us"
<div class="main">
    <div class="container py-4">
        <div class="p-5 mb-4 bg-body-tertiary rounded-3" style="background: #0f213a;color: wheat;">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Soporte Buzz</h1>
                <p class="col-md-8 fs-4">En caso de que tengas algun inconveniente, nuevas categorias o ideas que agregar para tu area funcional. No dudes escribirnos a eduardo.sanchez@buzzsolutions.com y karina.rodriguez@buzzsolutions.com</p>
            </div>
        </div>

    </div>
</div>
@code {
}
